.m-under-line {
  &::after {
    content: "d";
    border-bottom: 1px solid $dark;
  }
}

.m-inactive {
  display: none;
  pointer-events: none;
  cursor: default;
  color: $grey;
}

.m-favorites {
  color: rgb(96, 238, 205);
  p {
    color:#6081ee;
  }
}

